.App {
  max-width: 800px;
  margin: 40px auto;
  border-radius: 30px;
  border-width: 2px;
  border-style: solid;
  border-color: #39a2db;
  padding: 35px;
  background: #e4fbff;
  display: block;
}

body {
  background: #fff3e6;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #39a2db;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.date {
  font-size: 20px;
}

ul {
  font-size: 16px;
  list-style: none;
  position: relative;
  top: -70px;
  left: 500px;
}
