.App header {
  max-width: 700px;
  margin: 60px auto;
  border-radius: 30px;
  border-width: 2px;
  border-style: solid;
  border-color: #39a2db;
  padding: 20px;
  background: #e4fbff;
  display: block;
}

body {
  background: #fff3e6;
  font-family: "Roboto", sans-serif;
}

.App form {
  display: flex;
  justify-content: center;
}

.App h1 {
  color: #39a2db;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.App h2 {
  color: #39a2db;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.App li {
  list-style: none;
  text-align: center;
}
